{% extends 'visitor/base_visitor.html.twig' %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="/assets/gastroStyle.css"/>
{% endblock %}
{% block body %}
  <main class="section-padding">
    <article class="sectioner-header">
        <h2 class="black">Blog Title</h2>
        <p class="meta black">Posted on <time datetime="2024-05-28">May 28, 2024</time> by <a href="#">Author</a></p>
        <p class="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet purus a velit ultricies, ut lacinia purus sollicitudin. Mauris vehicula lacus sit amet est fringilla, at consectetur orci interdum.</p>
        <h3 class="black">Subheading</h3>
        <p class="black">Vivamus fermentum quam a elit vestibulum, nec dignissim nunc feugiat. Donec ac nisi nec eros ullamcorper consequat et in est.</p>
        <p class="black">Suspendisse potenti. Phasellus luctus sapien non bibendum blandit. Donec posuere, augue at tincidunt dictum, libero nisl viverra ex, et scelerisque sem tortor ut nisl.</p>
    </article>
  </main>
{% endblock %}
