@import 'style.css';

.white {
    color: #FFFFFF !important;
}

.black {
    color: #000000 !important;
}

.banner {
    background: #000000;
    background: linear-gradient(to left, #000000, #4CAF50);
}

.banner a.weblink {
    color: #FFEB3B;
    border-bottom: 1px dotted #FFEB3B;
}

.banner-text p {
    color: #FFFFFF;
}

.line {
    background: #FFEB3B;
}

.line::after {
    border-bottom: 2px dashed #FFEB3B;
}

.sectioner-header p {
    color: #FFFFFF;
}

.icon-box i {
    background: #000000;
    background: linear-gradient(to left, #000000, #4CAF50);
    color: #FFFFFF;
}

.icon-box h5 {
    color: #FFEB3B;
}

.icon-box p {
    color: #FFFFFF;
}

.about-btn {
    color: #FFEB3B;
    border: 2px solid #FFEB3B;
}

.about-btn:hover {
    background: #FFEB3B;
    color: #000000;
}

.video-overlay {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.90), rgba(76, 175, 80, 0.90));
}

.video-section h3 {
    color: #FFFFFF;
}

.video-section i {
    background: #FFFFFF;
    color: #4CAF50;
}

.single-feature h5 {
    color: #FFEB3B;
}

.single-feature p {
    color: #FFFFFF;
}

.slider .title {
    color: #FFEB3B;
}

.faq {
    background: #000000;
    border-bottom: 1px solid #4CAF50;
}

.faq-content h4 {
    color: #FFEB3B;
}

.faq-content p {
    color: #FFFFFF;
}

#contact_form .form-input {
    border: 1px solid #4CAF50;
}

input {
    background: #4CAF50;
    color: #FFFFFF;
}

#contact_form textarea {
    background: #4CAF50;
    color: #FFFFFF;
}

.btn-grad {
    background: #000000;
    background: linear-gradient(to left, #000000, #4CAF50);
}

.contact-info {
    background: #000000;
    background: linear-gradient(to left, #000000, #4CAF50);
}

.contact-item i {
    color: #FFEB3B;
}

.contact-item p {
    color: #FFFFFF;
}

.eventSec {
    background: #000000;
    background: linear-gradient(to left, #000000, #4CAF50);
}
